body {
    background: url("../img/alimentos-sanos.jpg") no-repeat center center fixed;
    background-size: cover;
}
.main-section{
  margin: 0 auto;
  margin-top: 15%;
  padding: 0;
}
.user-img{
  margin-top: -50px;
  margin-bottom: 15px;
}
.user-img img{
  width: 100px;
  height: 100px;
}
.form-control{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn{
  margin-top: 20px;
  margin-bottom: 60px;
}
.titulo-principal{
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px black;
}
 