body{
  background: url("../img/alimentos-sanos.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.titulo-principal{
  color:#fff;
  font-size: 20px;
  margin: 0px;
  padding: 10px 0;
  text-align: center;
}
.main-section{
  margin: 0 auto;
  margin-top: 15%;
  padding: 0;
}
.modal-title{
  color:#fff;
  font-size: 20px;
  margin: 0px;
  padding: 10px 0;
  text-align: center;
}
.user-img{
  margin-top: -50px;
  margin-bottom: 15px;
}
.user-img img{
  width: 100px;
  height: 100px;
}
.form-control{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn{
  margin-top: 20px;
  margin-bottom: 20px;
}